html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 30px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 22px;
	margin: 0;
}

header {
	height: 40px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

a {
	color: #000;
	text-decoration: none;
}

$light-row: hsla(0,0%,97%,1);
$dark-row: hsla(0,0%,95%,1);
$hover-row: #939393;

.resource-directory {
	height: calc(40% - 40px);
	display: flex;
	li {
		list-style: none;
		padding: 10px;
		cursor: pointer;
	}
	li:hover {
		background: $hover-row !important;
		color: #fff;
		span.location-detail {
			color: #eee;
		}
		a {
			color: #fff;
		}
	}
	.categories {
		width: 35%;
		overflow: scroll;
		li:nth-child(even) {
			background-color: $dark-row;
		}
		li:nth-child(odd) {
			background: $light-row;
		}
	}
	.locations {
		flex-grow: 2;
		overflow: scroll;
		.location-detail {
			color: #8F8F8F;
		}
		li:nth-child(even) {
			background-color: $light-row;
		}
		li:nth-child(odd) {
			background: $dark-row;
		}
	}
}
